*{
  background-color: black !important;
}
.card{
  margin-top: 20vh;
  margin-bottom: 10vh;
  border: 1.5px solid #39FF14;
  color: #39FF14;
}
.card-body{
  border-radius: 0.62em;
}

label{
  display: block;
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #39FF14;
}
input{
  border-radius: 0.2em;
  border: 1.5px solid #39FF14;
  color: white;
  outline: none;
}